body{
margin:3px;
background:#e6e6e6;
}
div {
font-size:100%;
box-sizing:border-box; 
background:#a6a6a6;
}
.head{
text-shadow:
 blue 1px 1px 3px,
 Skyblue 2px 2px 8px; 
font-style : bold;
font-family:arial;
text-indent : 2cm;
text-align:center; 
}
.title{
text-align:center;
margin-left:100%;
float:right;
width:45%;
text-shadow:
 orange 1px 1px 3px,
 brown 2px 2px 5px;
background:#ffd24d;
border: 1px solid black;
Padding-right:3px;
Padding-bottom:3px;
Padding-left:3px;
font-style : bold;
font-family:arial;
text-indent:1.5cm;
}
.para{
Padding:10px;
text-align:left;
font-family:arial;
text-indent:1cm;
}
@media only screen and (max-width: 767px){
.section1,.section2,.section3 {
border: 1px solid black;
margin-left:5%;
margin-bottom:5%;
margin-right:5%;
margin-top:5%;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

.section1{
float:left;
width:48%;
border: 1px solid black;
margin-left:4px;
margin-right:4px;
margin-bottom:5px;
}
.section2{
float:right;
width:48%;
border: 1px solid black;
margin-right:4px;
margin-left:4px;
margin-bottom:5px;
}
.section3{
float:left;
width:99%;
border: 1px solid black;
margin-top:8px
margin-right:4px;
margin-left:4px;
margin-bottom:15px;
}
} 
@media all and (min-width: 992px){

.section1,.section2,.section3
{
float:right;
width:31.25%;
border:4px solid black;
margin-left:6px;
margin-right:6px;
margin-bottom:6px;
}
}
