body{
margin:3px;
background:#e6e6e6;
}
div {
background:#a6a6a6;
}
.head{
text-shadow:
 blue 1px 1px 3px,
 skyblue 4px 4px 10px; 
font-style : bold;

font-family:arial;
font-size : 35pt;
text-indent : 0.5cm; 
text-align : center;
}
.title{
text-align:center;
margin-left:100%;
float:right;
width:45%;
text-shadow:
 orange 1px 1px 3px,
 brown 2px 2px 5px;
background:#ffd24d;
border: 1px solid black;
padding:7px;
font-style : bold;
font-family:arial;
font-size : 25pt;
}
.para{
text-align:left;
font-family:arial;
font-size:20pt;
}
@media only screen and (max-width: 767px){
.section1,.section2,.section3 {
border: 1px solid black;
margin-left:5%;
margin-bottom:5%;
margin-right:5%;
margin-top:5%;
}


}

@media only screen and (min-width: 768px) and (max-width: 991px) {

.section1{
float:left;
width:48%;
height:300px;
border: 1px solid black;
margin-left:4px;
margin-right:4px;
margin-bottom:5px;
}
.section2{
float:right;
width:48%;
height:300px;
border: 1px solid black;
margin-right:4px;
margin-left:4px;
margin-bottom:5px;
}
.section3{
float:left;
width:99%;
hight:300px;
border: 1px solid black;
margin-top:8px
margin-right:4px;
margin-left:4px;
margin-bottom:5px;
}


} 
@media all and (min-width: 992px){

.section1,.section2,.section3
{
float:right;
width:31.25%;
height:340px;
border:4px solid black;
margin-left:6px;
margin-right:6px;
margin-bottom:6px;
}
}
